@page "/message/create"
@using PerfectMatch.Shared.Entities;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Mensaje</h3>

<MessageForm @ref="MessageForm" Message="Message" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Message Message = new();

    private MessageForm? MessageForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/message", Message);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        else
        {

            MessageForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("/message");

        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/message");
    }
}
