@page "/message"
@using PerfectMatch.WEB.Repositories;
@using PerfectMatch.Shared.Entities;


@inject IRepository repository
<h3>MessageIndex</h3>

<div class="mb-3">

    <a class="btn btn-primary" href="/message/create">  New Message</a>

</div>

<GenericList MyList="Messages">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Message</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var message in Messages!)
                {
                    <tr>
                        <td>
                            @message.Content
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {

    public List<Message>? Messages { get; set; }

    protected async override Task OnInitializedAsync()
    {

        var responseHttp = await repository.Get<List<Message>>("/api/message");
        Messages = responseHttp.Response!;
    }

}
