@page "/post/create"
@using PerfectMatch.Shared.Entities;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Post</h3>

<PostForm @ref="PostForm" Post="Post" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Post Post = new();

    private PostForm? PostForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/post", Post);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        else
        {

            PostForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("/post");

        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/post");
    }
}