@page "/appointment"
@using PerfectMatch.WEB.Repositories;
@using PerfectMatch.Shared.Entities;


@inject IRepository repository
<h3>AppointmentIndex</h3>

<div class="mb-3">

    <a class="btn btn-primary" href="/message/create">  Nueva cita</a>

</div>

<GenericList MyList="Appointments">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Appointment</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Appointments!)
                {
                    <tr>
                        <td>
                            @appointment.Place
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {

    public List<Appointment>? Appointments { get; set; }

    protected async override Task OnInitializedAsync()
    {

        var responseHttp = await repository.Get<List<Appointment>>("/api/appointment");
        Appointments = responseHttp.Response!;
    }

}
