@page "/"

<PageTitle>Index</PageTitle>

<h1>PerfectMatch!</h1>

Bienvenidos a nuestra aplicación de citas, aca podras hacer un match perfecto ;).

<SurveyPrompt Title="How is Blazor working for you?" />
