@page "/notification"
@using PerfectMatch.WEB.Repositories;
@using PerfectMatch.Shared.Entities;


@inject IRepository repository
<h3>NotificationIndex</h3>

<div class="mb-3">

    <a class="btn btn-primary" href="/notification/create">  Nueva notificación</a>

</div>

<GenericList MyList="Notifications">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Notification</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var notification in Notifications!)
                {
                    <tr>
                        <td>
                            @notification.Title
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {

    public List<Notification>? Notifications { get; set; }

    protected async override Task OnInitializedAsync()
    {

        var responseHttp = await repository.Get<List<Notification>>("/api/notification");
        Notifications = responseHttp.Response!;
    }

}
