@page "/ubication"
@using PerfectMatch.WEB.Repositories;

@inject IRepository Repository
<h3>UbicationIndex</h3>

<div class="mb-3">

    <a class="btn btn-primary" href="/ubication/create">  New Ubication</a>

</div>

@code {

}
